<footer class="footer mt-5">
  <div class="container">
    <div class="row text-center text-md-left">
      <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
        <h5>Indian Rexine House<span style="color: orange">.</span></h5>
        <p>"Comfort Redefined, Quality Delivered."</p>
        <p>
          <strong>Got Questions? Call us 24/7:</strong><br />
          <a
            href="tel:+91 9414327009"
            class="font-weight-bold"
            style="color: orange"
            >+91 9414327009</a
          >
        </p>
      </div>
      <div class="col-md-2 col-sm-6 mb-4 mb-md-0">
        <h5 style="color: orange">Information</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 mb-4 mb-md-0">
        <h5 style="color: orange">Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="#">Payment Methods</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <h5 style="color: orange">Get In Touch</h5>
        <p>
          Shop No-3, Indian Rexine House, Chetak Housing Society, Dahod Road,
          Office, Shriram Colony, Banswara, Rajasthan 327001
        </p>
        <p>
          Email:
          <a href="mailto:zahirahmadkhan31@gmail.com"
            >zahirahmadkhan31@gmail.com</a
          >
        </p>
        <p>Phone: <a href="tel:+91 9414327009">+91 9414327009</a></p>
      </div>
    </div>
  </div>
</footer>
